#inner-tube {
  background: #87ceeb;
}

#inner-tube div,
#inner-tube div:before,
#inner-tube div:after {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#inner-tube div {
  margin-left: -116px;
  margin-top: -40px;
  border: 42px solid rgba(0, 0, 0, 0.05);
}

#inner-tube div:before {
  margin-top: -90px;
  border: 42px solid #ff1493;
  border-top-color: #ffffe0;
  border-bottom-color: #ffffe0;
  box-shadow: inset -5px 5px 0 rgba(0, 0, 0, 0.15), -5px 5px 0 rgba(0, 0, 0, 0.15), -30px 0 0 2px rgba(255, 255, 255, 0.1), 0 -30px 0 -2px rgba(255, 255, 255, 0.15), 30px 0 0 2px rgba(255, 255, 255, 0.1), 0 30px 0 -2px rgba(255, 255, 255, 0.15), 120px 90px 0 -60px rgba(255, 255, 255, 0.1), 100px 100px 0 -50px rgba(255, 255, 255, 0.1), 110px -90px 0 -60px rgba(255, 255, 255, 0.1), -120px -120px 0 -50px rgba(255, 255, 255, 0.1);
}

#inner-tube div:after {
  left: 0;
  top: -90px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 32px, rgba(0, 0, 0, 0.06) 32px, rgba(0, 0, 0, 0.06) 40px, rgba(0, 0, 0, 0) 40px, rgba(255, 255, 255, 0) 55px, rgba(255, 255, 255, 0.7) 55px, rgba(255, 255, 255, 0.7) 62px, rgba(255, 255, 255, 0) 62px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0.06) 70px);
  border-radius: 50%;
}
