#hobbit-door {
  background: #d2b48c;
}

#hobbit-door div {
  z-index: 1;
  width: 250px;
  height: 250px;
  margin-top: -140px;
  margin-left: -125px;
  border-radius: 50%;
  background-color: #825034;
  background-image: linear-gradient(to right, transparent 45%, #bb7a56 45%, #bb7a56 55%, transparent 55%), linear-gradient(76deg, transparent 45%, #ae6a46 45%, #ae6a46 55%, transparent 55%), linear-gradient(-76deg, transparent 45%, #b7714b 45%, #b7714b 55%, transparent 55%), linear-gradient(60deg, transparent 45%, #bb7a56 45%, #bb7a56 55%, transparent 55%), linear-gradient(-60deg, transparent 45%, #c48b6c 45%, #c48b6c 55%, transparent 55%), linear-gradient(42deg, transparent 45%, #ca977b 45%, #ca977b 55%, transparent 55%), linear-gradient(-42deg, transparent 45%, #bb7a56 45%, #bb7a56 55%, transparent 55%), linear-gradient(-24deg, transparent 45%, #ca977b 45%, #ca977b 55%, transparent 55%), linear-gradient(25deg, transparent 45%, #985d3d 45%, #985d3d 55%, transparent 55%), linear-gradient(-9deg, transparent 45%, #c48b6c 45%, #c48b6c 55%, transparent 55%), linear-gradient(7deg, transparent 44%, #bb7a56 44%, #bb7a56 55%, transparent 55%);
  box-shadow: 0 5px #985d3d;
}

#hobbit-door div:before {
  top: 50%;
  left: 50%;
  width: 190px;
  height: 190px;
  margin-top: -95px;
  margin-left: -95px;
  border-radius: 50%;
  background: #468e60;
  background-image: repeating-linear-gradient(to right, transparent, transparent 22px, #26603b 22px, #26603b 24px, #73b38a 24px, #73b38a 25px);
  box-shadow: inset 0 5px 0 #6c422c, inset 0 12px 5px rgba(0, 0, 0, .3), inset 0 -4px 3px rgba(0, 0, 0, .2);
}

#hobbit-door div:after {
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  margin-left: -12.5px;
  border-radius: 50%;
  background: #ffeb8f;
  box-shadow: inset 0 -6px 5px rgba(111, 74, 24, .5), 0 5px 3px rgba(0, 0, 0, .4);
}
