#cactus2 {
  background: #f2d399;
}

#cactus2 div:before {
  width: 100px;
  height: 40px;
  margin-left: -55px;
  top: -36px;
  background-color: #d3d3d3;
  border-radius: 8px 8px 50px 50px;
}

#cactus2 div:after {
  width: 70px;
  height: 70px;
  margin-left: -40px;
  top: -80px;
  border-radius: 50%;
  box-shadow: 0 -45px 0 -33px #ffb6c1, -10px -38px 0 -33px #ffb6c1, 10px -38px 0 -33px #ffb6c1, 0 -45px 0 -28px #b8860b, -10px -38px 0 -28px #b8860b, 10px -38px 0 -28px #b8860b;
}
