#stay-puft {
  background: #bbb;
}

#stay-puft div {
  width: 170px;
  height: 50px;
  margin-left: -85px;
  margin-top: 20px;
  background-color: #000080;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 40%);
  border-bottom-right-radius: 60px 20px;
  border-bottom-left-radius: 60px 20px;
  box-shadow: inset -60px 20px 10px rgba(0, 0, 0, 0.3), 0 7px 5px rgba(0, 0, 0, 0.15);
}

#stay-puft div:before {
  width: 230px;
  height: 90px;
  left: 50%;
  margin-left: -115px;
  top: -75px;
  background: white;
  background-image: radial-gradient(ellipse at 49% 10px, rgba(255, 255, 255, 0.3) 5px, rgba(255, 255, 255, 0) 12px), radial-gradient(ellipse at 50% 15px, #000080 15px, transparent 15px), radial-gradient(ellipse at 52% 18px, rgba(0, 0, 0, 0.2) 12px, transparent 18px);
  border-top-left-radius: 100px 50px;
  border-top-right-radius: 100px 50px;
  border-bottom-left-radius: 70px 40px;
  border-bottom-right-radius: 70px 40px;
  box-shadow: inset -35px -10px 10px rgba(0, 0, 0, 0.07);
}

#stay-puft div:after {
  height: 25px;
  left: 56px;
  top: -60px;
  border-left: 9px solid #dc143c;
  border-right: 9px solid #b13;
  border-bottom: 9px solid transparent;
  border-top: 3px solid #000080;
  box-shadow: 8px -5px 3px -5px rgba(0, 0, 0, 0.2);
  transform: rotate(40deg);
}
