#corn-dog {
  background: #ffe4c4;
}

#corn-dog div {
  width: 16px;
  height: 150px;
  margin-top: 0;
  margin-left: -8px;
  border-radius: 20px;
  background: #deb887;
  background-image: linear-gradient(to right, #deb887, #d3a05f);
}

#corn-dog div:before {
  z-index: 2;
  top: -150px;
  left: 50%;
  width: 80px;
  height: 220px;
  margin-left: -40px;
  border-radius: 50px/70px 70px 100px 100px;
  background: #cd853f;
  box-shadow: inset -5px -5px 30px rgba(0, 0, 0, .25);
}

#corn-dog div:after {
  top: 65px;
  left: 50%;
  width: 18px;
  height: 23px;
  margin-left: -9px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 5px;
  background: #cd853f;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
}
