#cactus1 {
  background: #f5deb3;
}

#cactus1 div:before {
  width: 100px;
  height: 60px;
  margin-left: -55px;
  top: -56px;
  background-color: #f4a460;
  border-radius: 8px 8px 30px 30px;
}

#cactus1 div:after {
  width: 60px;
  height: 90px;
  margin-left: -35px;
  top: -140px;
  border-radius: 44px 44px 0 0;
}
