#pizza-marg {
  background: #ffebcd;
}

#pizza-marg div {
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  background: #deb887;
  background-image: radial-gradient(circle, rgba(139, 0, 0, 0.3) 25%, transparent 58%), radial-gradient(circle, #b22222 63%, transparent 65%), radial-gradient(circle, transparent 65%, #8b4513 84%);
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#pizza-marg div:before {
  width: 32px;
  height: 32px;
  left: 45px;
  top: 48px;
  background: white;
  border-radius: 50%;
  box-shadow: 50px -23px 0 white, 91px 20px 0 white, 36px 30px 0 white, -10px 60px 0 white, 25px 89px 0 white, 80px 80px 0 white, 20px -30px 0 -14px rgba(0, 0, 0, 0.4), -30px 10px 0 -14px rgba(0, 0, 0, 0.5), -5px 35px 0 -14px rgba(0, 0, 0, 0.4), 16px 16px 0 -14px rgba(0, 0, 0, 0.5), 90px -10px 0 -14px rgba(0, 0, 0, 0.4), 58px 10px 0 -14px rgba(0, 0, 0, 0.5), 60px 60px 0 -14px rgba(0, 0, 0, 0.5), 105px 55px 0 -14px rgba(0, 0, 0, 0.4), -5px 90px 0 -14px rgba(0, 0, 0, 0.5), 55px 105px 0 -14px rgba(0, 0, 0, 0.5);
}

#pizza-marg div:after {
  width: 20px;
  height: 20px;
  left: 65px;
  top: 45px;
  background: #2e8b57;
  border-radius: 35px 5px;
  box-shadow: 50px 55px 0 #2e8b57, 70px -10px 0 -2px #2e8b57, -10px 80px 0 -2px #2e8b57, 40px 105px 0 -2px #2e8b57;
}
