/*-----------------------------
Honey Badger
-----------------------------*/

$width: 290px;
$height: 100px;

#honey-badger {
  background: #555;

  div {
    width: $width;
    height: $height;
    margin-left: -($width/2 + 10);
    margin-top: -($height/2 - 20);
    background-repeat: no-repeat;
    background-image: linear-gradient(115deg, black 60%, transparent 60%),
      linear-gradient(115deg, black 60%, transparent 60%),
      linear-gradient(115deg, black 60%, transparent 60%),
      linear-gradient(-115deg, black 60%, transparent 60%),
      radial-gradient(ellipse at 100% 100%, transparent 55%, black 55%),
      radial-gradient(circle, black(0.3) 45%, transparent 45%),
      radial-gradient(circle at 0 0, white 58%, black 58%),
      radial-gradient(circle at 100% 100%, black 60%, white 60%),
      linear-gradient(to bottom, white 34%, black 34%),
      linear-gradient(25deg, black 50%, transparent 50%),
      linear-gradient(25deg, black 50%, transparent 50%),
      radial-gradient(circle at 50% 0, gold 50%, transparent 50%),
      radial-gradient(ellipse at 0 0, black 70%, transparent 70%),
      radial-gradient(circle at 100% 0, black 70%, transparent 70%),
      linear-gradient(to bottom, black, black);
    background-size: 9% 38%, 9% 38%, 9% 38%, 9% 38%, 15% 30%, 20% 30%, 5% 11%,
      5% 11%, 15% 30%, 5% 9%, 5% 9%, 4% 4%, 15% 32%, 5% 14%, 25% 14%;
    background-position: 20% 100%, 30% 100%, 71.4% 100%, 81% 100%, 83% 46%,
      85.5% 19%, 85% 8%, 77% 19%, 83% 10%, 82% 0, 87% 0, 90% 15%, 100% 10%, 0 8%,
      5% 8%;

    &:before {
      width: 57%;
      height: 57%;
      left: 17%;
      top: 7%;
      background-color: black;
      background-repeat: no-repeat;
      background-image: linear-gradient(to bottom, white, white);
      background-size: 95% 50%;
      background-position: 100% 0;
      border-bottom-left-radius: 40px;
      box-shadow: inset 5px -36px 0 black, inset 13px -43px 0 black;
    }
  }
}
