#macarons {
  background: #eee;
}

#macarons div {
  width: 110px;
  height: 180px;
  margin-top: -90px;
  margin-left: -55px;
  background-image: linear-gradient(to top, transparent 21px, #7b5354 21px, #7b5354 26px, transparent 26px, transparent 66px, #ffd889 66px, #ffd889 71px, transparent 71px, transparent 110px, #548355 110px, #548355 115px, transparent 115px, transparent 155px, #965537 155px, #965537 160px, transparent 160px);
}

#macarons div:before {
  bottom: 0;
  width: 110px;
  height: 20px;
  border-radius: 6px;
  border-bottom-right-radius: 80px 20px;
  border-bottom-left-radius: 80px 20px;
  background: #fa8780;
  box-shadow: 0 -45px 0 #ffba10, 0 -89px 0 #a8daa9, 0 -134px 0 #d1a574;
}

#macarons div:after {
  bottom: 25px;
  width: 110px;
  height: 20px;
  border-radius: 6px;
  border-top-left-radius: 80px 20px;
  border-top-right-radius: 80px 20px;
  background: #fa8780;
  box-shadow: 0 -44px 0 #ffba10, 0 -89px 0 #a8daa9, 0 -134px 0 #d1a574;
}
